body {
    overflow: hidden;
    height: 100vh;
}

main {
    overflow-y: auto;
  }
  aside {
    flex: 1 0 10%;
    font-size: 20px;
    background: transparent;
    padding: 1rem;
  }
  .wrapper {
    display: flex;
    justify-content: left;
  }
  .image-wrapper {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
  }

#main {
    background-image: url('Media/background_image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

#nav {
    list-style: none;
}

#profile-pic {
    text-align: center; 
    margin: 5% auto;
    box-shadow: 0 0 8px 8px rgb(250, 252, 222) inset;
    font-size: 22px;
    font-weight: bold;
    font-family: cursive;
}

/*link styles*/
a:link,
a:visited {
	color: black;
	text-align: center;
	text-decoration: underline white;
	display: inline-block;
}

a:hover {
	background-color: white;
	text-decoration: underline black;
	color: black;
}