body {
    overflow: hidden;
    height: 100vh;
}

main {
    overflow-y: auto;
  }
  aside {
    flex: 1 0 10%;
    font-size: 18px;
    border-right:  1px solid #ededed;
    background: pink;
    flex: 1 0 10%;
    padding: 1rem;
  }
  .wrapper {
    display: flex;
    height: 100%;
  }

#main {
    background-image: url('Media/background-image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

#nav {
    list-style: none;
}

/*link styles*/
a:link,
a:visited {
	color: black;
	text-align: center;
	text-decoration: underline white;
	display: inline-block;
}

a:hover {
	background-color: white;
	text-decoration: underline black;
	color: black;
}