#main {
    background-image: url('Media/background-image.png');
    background-repeat: no-repeat;
    width: auto;
    height: auto;
  }

.bottomnav-right {
  position: absolute; 
  right: 10%;
  bottom: 5%;
  display: inline-block;
  background-color: antiquewhite;
}